.form-container{
    background-color: white;
    margin: 0 auto;
    color: black;
    height: 350px;
    width: 350px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    margin-top: 8rem;
}
.input-container{
    display: flex;
    gap: 15px;
    margin-block: 5px;
}
.input-container label{
    width: 10rem;
    text-align: start;
}
.submit-button{
    align-self: center;
    margin-top: 25px;
    padding: 5px 15px;
    background-color: gainsboro;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.form-container p {
    margin: 0;
    color: grey;
    margin-block: 15px;

}
.form-container p a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
p.error{
    color: red;
    margin-block: 15px;
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}